@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-80px);
    }

    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(80px);
    }

    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.footer {
  background-color: #000;
  text-align: center;
}

.end-footer {
  font-size: 13px;
  color: rgba(255, 255, 255, .6);
  background-color: #000;
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
  border-radius: 1px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #868686; 
  border-radius: 1px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
  background: #000000;
}

.slideshow2 {      
  background: linear-gradient(to top, rgba(90, 90, 90, 0.52), rgba(0, 0, 0, 0.73));
  justify-content: center;
}

#slideshow {
  background: black;
}

:root {
    --font-common: BlinkMacSystemFont, "Inter", sans-serif;
    --primary-color: #ffffff;
    --primary-color-dark: #ffffff;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #faf5ff;
    --max-width: 1200px;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    font-family: var(--font-common);
  }
  
  .nav {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: #000000;
    z-index: 1030;
  }
  
  .nav_content {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav ul li.active a {
    border-top-color: #970b15;
    border-bottom-color: #970b15;
    color: #970b15;
  }

  .nav .logo a {
    animation: fadeIn 1s;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    transition: 0.3s;
  }
  .nav .logo a:hover {
    color: #6b7280;
  }



  /* search box */

  form{
    position: relative;
    margin-top: 45px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all .5s;
    width: 50px;
    height: 50px;
    background: transparent;  
    box-sizing: border-box;
    border: hidden;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 50px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 2px;
    padding: 0 20px;
    background: transparent;
    color: #fff;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    position: absolute;
    top: 3px;
    right: 1.5px;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    transition: all .5s;
}

form:hover{
    width: 300px;
    cursor: pointer;
    border: 3px solid white;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #000;
    color: white;
    margin-top: 0;
}

  
  .nav .checkbox {
    display: none;
  }
  
  .nav input {
    display: none;
  }
  .nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
  }
  
  ul {
    background-color: #000000;
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
  }
  
  ul li a {
    opacity: 0; 
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
    transition: 0.3s;
  }
  
  ul li a:hover {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
    color: #ffffff
  }
  
  
  
  @media (width < 750px) {
    .nav .checkbox {
      opacity: 0;
      animation: slideLeft .5s ease forwards;
      display: block;
    }
  
    .slideshow2 {
      background: linear-gradient(to top, rgba(90, 90, 90, 0.52), rgba(0, 0, 0, 0.73)),url('assets/back.jpg') center center no-repeat;
      background-size: cover;
    }
  
    ul {
      position: absolute;
      width: 100%;
      height: calc(150vh - 85px);
      left: -100%;
      top: 85px;
      background-color: #000000;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
    }
  
    .nav #check:checked ~ ul {
      left: 0;
    }
  
    ul li a {
      font-size: 1.25rem;
    }
  
    .action__btns {
      margin: auto;
    }
    
  }
  
  @media (height < 431px) {
    .checkbox .checkbox {
      opacity: 0;
      animation: slideLeft .5s ease forwards;
      display: block;
    }
  
    ul {
      position: absolute;
      width: 100%;
      height: calc(150vh - 85px);
      left: -100%;
      top: 85px;
      background-color: #000000;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
    }
  
    .nav #check:checked ~ ul {
      left: 0;
    }
  
    ul li a {
      font-size: 1.25rem;
    }
  
    .action__btns {
      margin: auto;
    }
  }
  
  /* css slider */

  #slide {
    padding: 50px;
    display: flex;
    transition: .7s;
    height: 100vh;
    margin-top: -50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
  
  .item{
    width: 60%;
    object-fit: cover;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    transition: 1s;
    position: absolute;
    z-index: 1829;
    background-position: center;
    border-radius: 15px;
  }
  .item:nth-child(1){
    opacity: 0.5;
    height: 70vh;
    transform: translate(-130%);
  }
  .item:nth-child(2){
    opacity: 0.5;
    height: 70vh;
    transform: translate(-63%);
  }
  .item:nth-child(3){
    z-index: 2000;
    height: 75vh;
    transform: translate(30%);
  }
  .item:nth-child(4){
    opacity: 0.5;
    height: 70vh;
    transform: translate(123%);
  }
  .item:nth-child(n+5){
    height: 70vh;
    transform: translate(210%);
  }
  .buttons{
      z-index: 2000;
      position: absolute;
      bottom:30px;
      left:0;
      text-align: center;
      width:100%;
  }.buttons button{
      opacity: 0.2;
      width:50px;
      height:50px;
      border-radius: 50%;
      border:1px solid #555;
      transition: 0.5s;
  }
  .buttons button:hover{
      background-color: #bac383;
      opacity: 1;
  }

@media screen and (max-width: 678px) {
  
}

/* css slider */

  /* click to top css */

#toTop{
    position: fixed;
    bottom: 20px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-image: url(assets/totop.png);
    color: #fff;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    mix-blend-mode: difference;
    border: 2px solid #fff;
    border-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s ;
}

#back-to-top {
  display: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #ddd;
  color: #f18121;
  border-radius: 3px;
  float: left;
  position: fixed;
  right: 10px;
  bottom: 50px;
  z-index: 900;
  line-height: 38px;
  font-size: 20px;
}

#toTop:active{
    transform: translateY(10px);
    box-shadow: none;
}

  /* click to top css */


