@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@keyframes move-gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}
@keyframes slideTop {
  0% {
      opacity: 0;
      transform: translateY(80px);
  }

  100% {
      opacity: 100%;
      transform: translateY(0);
  }
}

@keyframes slideRight {
  0% {
      opacity: 0;
      transform: translateX(-80px);
  }

  100% {
      opacity: 100%;
      transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
      opacity: 0;
      transform: translateX(80px);
  }

  100% {
      opacity: 100%;
      transform: translateX(0);
  }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

:root {
  --primary-color: #ffffff;
  --primary-color-dark: #ffffff;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  background-color: #000;
  font-family: "Inter", sans-serif;
}

.nav {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-color: #000000;
  z-index: 1030;
}

.nav_content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active {
  border-top-color: #970b15;
  border-bottom-color: #970b15;
  color: #970b15;
}

.nav .logo {
  display: flex;
  align-items: center;
}

.nav .logo a {
  animation: fadeIn 1s;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s;
}

.nav .logo img {
  vertical-align: middle;
}

.nav .logo a:hover{
  color: #6b7280;
  opacity: 0.6;
  transition: 0.3s;
}

.nav .checkbox {
  display: none;
}

.nav input {
  display: none;
}
.nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  background-color: #000000;
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  opacity: 0; 
  animation: slideTop .5s ease forwards;
  animation-delay: calc(.2s * var(--i));
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  color: #ffffff
}

.template_section {
    color: #fff;
}

.template_section_message {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: block;
  gap: 4rem;
}

.template_section_message {
  display: block;
  justify-content: left;
}

.template_section_message img {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
}


@media (width < 750px) {
  .nav .checkbox {
    opacity: 0;
    animation: slideLeft .5s ease forwards;
    display: block;
  }

  .section {
    background: linear-gradient(to top, rgba(90, 90, 90, 0.52), rgba(0, 0, 0, 0.73)),url('assets/back.jpg') center center no-repeat;
    background-size: cover;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(150vh - 85px);
    left: -100%;
    top: 85px;
    background-color: #000000;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  .nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .template_section_message {
    text-align: left;
  }

  .action__btns {
    margin: auto;
  }
  
}

@media (height < 431px) {
  .checkbox .checkbox {
    opacity: 0;
    animation: slideLeft .5s ease forwards;
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(150vh - 85px);
    left: -100%;
    top: 85px;
    background-color: #000000;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  .nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .template_section_message {
    text-align: left;
  }

  .action__btns {
    margin: auto;
  }
}

#toTop{
  position: fixed;
  bottom: 20px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-image: url(../assets/totop.png);
  color: #fff;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  mix-blend-mode: difference;
  border: 2px solid #fff;
  border-color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s ;
}

#back-to-top {
display: none;
cursor: pointer;
width: 40px;
height: 40px;
overflow: hidden;
text-align: center;
border: 1px solid #ddd;
color: #f18121;
border-radius: 3px;
float: left;
position: fixed;
right: 10px;
bottom: 50px;
z-index: 900;
line-height: 38px;
font-size: 20px;
}

#toTop:active{
  transform: translateY(10px);
  box-shadow: none;
}

.footer {
  background-color: #000;
  text-align: center;
}

.end-footer {
  font-size: 13px;
  color: rgba(255, 255, 255, .6);
  background-color: #000;
  text-align: center;
}