<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A3K55 Yearbook | Template file</title>
    <link rel="icon" type="image/x-icon" href="../assets/a3logo.ico">
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="template_styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>

<body>
    <div class="nav">
        <div class="nav_content">
          <div class="logo">
            <a href="https://github.com/a3k55yearbook/a3k55yearbook.github.io">A3K55 Yearbook</a>
          </div>
          <label for="check" class="checkbox">
            <i class="ri-menu-line"></i>
            </label>
          <input type="checkbox" name="check" id="check" />
          <ul>
            <li><a style="--i:1;" href="/">Home</a></li>
            <li><a style="--i:2;" href="/members/">Members</a></li>
            <li><a style="--i:3;" href="/gallery/">Gallery</a></li>
            <li><a style="--i:4;" href="/about/">About</a></li>
          </ul>
        </div>
    </div>
    <section class="template_section">
        <div class="template_section_message">
            <a> This is a template file. </a>
        </div>
    </section>
    <button id="toTop"></button>

    <span class="footer"></span>
    <p class="end-footer">2024 © A3K55 - THPT CHUYEN DAI HOC VINH</p>

    <script src="template_script_nav.js"></script>
    <script src="template_totop.js"></script>
</body>

</html>