@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@keyframes move-gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}
@keyframes slideTop {
  0% {
      opacity: 0;
      transform: translateY(80px);
  }

  100% {
      opacity: 100%;
      transform: translateY(0);
  }
}

@keyframes slideRight {
  0% {
      opacity: 0;
      transform: translateX(-80px);
  }

  100% {
      opacity: 100%;
      transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
      opacity: 0;
      transform: translateX(80px);
  }

  100% {
      opacity: 100%;
      transform: translateX(0);
  }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

:root {
  --font-common: BlinkMacSystemFont, "Inter", sans-serif;
  --primary-color: #ffffff;
  --primary-color-dark: #ffffff;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
  border-radius: 1px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #868686; 
  border-radius: 1px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
  background: #000000;
}


a {
  text-decoration: none;
}

body {
  font-family: var(--font-common);
}

.nav {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-color: #000000;
  z-index: 1030;
}

.nav_content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul li.active a {
  border-top-color: #970b15;
  border-bottom-color: #970b15;
  color: #970b15;
}

.nav .logo {
  display: flex;
  align-items: center;
}

.nav .logo a {
  animation: fadeIn 1s;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s;
}

.nav .logo img {
  vertical-align: middle;
}

.nav .logo a:hover{
  color: #6b7280;
  opacity: 0.6;
  transition: 0.3s;
}

.nav .checkbox {
  display: none;
}

.nav input {
  display: none;
}
.nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  background-color: #000000;
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  opacity: 0; 
  animation: slideTop .5s ease forwards;
  animation-delay: calc(.2s * var(--i));
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  color: #ffffff
}

.template_section {
    margin-top: 50px;
}

.template_section_message {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.template_section_message {
  display: flex;
  justify-content: center;
}


@media (width < 750px) {
  .nav .checkbox {
    opacity: 0;
    animation: slideLeft .5s ease forwards;
    display: block;
  }

  .section {
    background: linear-gradient(to top, rgba(90, 90, 90, 0.52), rgba(0, 0, 0, 0.73)),url('assets/back.webp') center center no-repeat;
    background-size: cover;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(150vh - 85px);
    left: -100%;
    top: 85px;
    background-color: #000000;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  .nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .template_section_message {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .action__btns {
    margin: auto;
  }
  
}

@media (height < 431px) {
  .checkbox .checkbox {
    opacity: 0;
    animation: slideLeft .5s ease forwards;
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(150vh - 85px);
    left: -100%;
    top: 85px;
    background-color: #000000;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  .nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .template_section_message {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .action__btns {
    margin: auto;
  }
}

#toTop{
  position: fixed;
  bottom: 20px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-image: url(../assets/totop.png);
  color: #fff;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  mix-blend-mode: difference;
  border: 2px solid #fff;
  border-color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s ;
}

#back-to-top {
display: none;
cursor: pointer;
width: 40px;
height: 40px;
overflow: hidden;
text-align: center;
border: 1px solid #ddd;
color: #f18121;
border-radius: 3px;
float: left;
position: fixed;
right: 10px;
bottom: 50px;
z-index: 900;
line-height: 38px;
font-size: 20px;
}

#toTop:active{
  transform: translateY(10px);
  box-shadow: none;
}

/* _by Nứng_*/
.container1{
  width: 100%;
  height: 70vh;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: left;
}

.container2{
  width: 100%;
  height: 70vh;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: right;
}

.gallery{
  display: inline-flex;
  align-items: center;
  justify-content: left;
}
/* Tổ 1 */
.img-boxg1{
  width: 4.5vw;
  height: 50vh;
  margin: 10px;
  border-radius: 50px;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: width 0.5s;
  transition-delay: 0.1s;
}
.img-boxg1:nth-child(2){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/namanh.webp");
}
.img-boxg1:nth-child(3){
  background-image: url("https://cdn.britannica.com/79/232779-050-6B0411D7/German-Shepherd-dog-Alsatian.jpg");
}
.img-boxg1:nth-child(4){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/thaichien.webp");
}
.img-boxg1:nth-child(5){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/vietchien.webp");
}
.img-boxg1:nth-child(6){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/vandung.webp");
}
.img-boxg1:nth-child(7){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/phduy.webp");
}
.img-boxg1:nth-child(8){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/anhduc.webp");
}
.img-boxg1:nth-child(9){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/nhathieu.webp");
}
.img-boxg1:nth-child(10){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/quanghieu.webp");
}
.img-boxg1:nth-child(11){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/xuanhung.webp");
}
 
.img-boxg1 h3{
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 30px;
  opacity: 0;
  transition: bottom 0.5s , opacity 0.5s;
  transition-delay: 0.1s;
}

.img-boxg1:hover{
  width: 30vw;
  cursor: pointer;
}

.img-boxg1:hover h3{
  opacity: 1;
  bottom: 25px;
  cursor: pointer;
}

 .container1 .group-name{
  width: 5vh;
  color: white;
  padding-right: 3vw;
  padding-left: 1vw;
}
  .container2 .group-name{
  width: 5vh;
  color: white;
  padding-left: 2vw;
  padding-right: 3vw;
}


/* Tổ 2 */
.img-boxg2{
  width: 4.5vw;
  height: 50vh;
  margin: 10px;
  border-radius: 50px;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: width 0.5s;
  transition-delay: 0.1s;
}
.img-boxg2:nth-child(1){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/thanhhuy.webp");
}
.img-boxg2:nth-child(2){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/tuanhung.webp");
}
.img-boxg2:nth-child(3){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/duyhung.webp");
}
.img-boxg2:nth-child(4){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/tienhung.webp");
}
.img-boxg2:nth-child(5){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/per/KIIN4559_compressed.jpg");
}
.img-boxg2:nth-child(6){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/minhkhiet.webp");
}
.img-boxg2:nth-child(7){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/chikien.webp");
}
.img-boxg2:nth-child(8){
  background-image: url("https://cdn.britannica.com/79/232779-050-6B0411D7/German-Shepherd-dog-Alsatian.jpg");
}
.img-boxg2:nth-child(9){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/khanhky.webp");
}
.img-boxg2:nth-child(10){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/ailinh.webp");
}
.img-boxg2:nth-child(11){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/hienlong.webp");
}
 
.img-boxg2 h3{
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 30px;
  opacity: 0;
  transition: bottom 0.5s , opacity 0.5s;
  transition-delay: 0.1s;
}

.img-boxg2:hover{
  width: 30vw;
  cursor: pointer;
  transition-delay: 0.1s;
}

.img-boxg2:hover h3{
  opacity: 1;
  bottom: 25px;
  cursor: pointer;
}

/* Tổ 3 */
.img-boxg3{
  width: 4.5vw;
  height: 50vh;
  margin: 10px;
  border-radius: 50px;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: width 0.5s;
  transition-delay: 0.1s;
}
.img-boxg3:nth-child(2){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/duymanh.webp");
}
.img-boxg3:nth-child(3){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/ducmanh.webp");
}
.img-boxg3:nth-child(4){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/vomanh.webp");
}
.img-boxg3:nth-child(5){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/quangminh.webp");
}
.img-boxg3:nth-child(6){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/vannam.webp");
}
.img-boxg3:nth-child(7){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/nguyenngoc.webp");
}
.img-boxg3:nth-child(8){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/nhan.webp");
}
.img-boxg3:nth-child(9){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/syphat.webp");
}
.img-boxg3:nth-child(10){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/ngocphu.webp");
}
.img-boxg3:nth-child(11){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/hongphuc.webp");
}
.img-boxg3:nth-child(12){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/dinhphuoc.webp");
}
 
.img-boxg3 h3{
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 30px;
  opacity: 0;
  transition: bottom 0.5s , opacity 0.5s;
  transition-delay: 0.1s;
}

.img-boxg3:hover{
  width: 30vw;
  cursor: pointer;
}

.img-boxg3:hover h3{
  opacity: 1;
  bottom: 25px;
  cursor: pointer;
}



/* Tổ 4 */
.img-boxg4{
  width: 4.5vw;
  height: 50vh;
  margin: 10px;
  border-radius: 50px;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: width 0.5s;
  transition-delay: 0.1s;
}
.img-boxg4:nth-child(1){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/tienphuoc.webp");
}
.img-boxg4:nth-child(2){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/minhquan.webp");
}
.img-boxg4:nth-child(3){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/trinhthang.webp");
}
.img-boxg4:nth-child(4){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/hoangtien.webp");
}
.img-boxg4:nth-child(5){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/huyentrang.webp");
}
.img-boxg4:nth-child(6){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/minhtri.webp");
}
.img-boxg4:nth-child(7){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/phutrong.webp");
}
.img-boxg4:nth-child(8){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/ductruyen.webp");
}
.img-boxg4:nth-child(9){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/quoctruong.webp");
}
.img-boxg4:nth-child(10){
  background-image: url("https://raw.githubusercontent.com/a3k55yearbook/src_compressed/main/member_thumbnails_webp/anhtu.webp");
}
 
.img-boxg4 h3{
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 30px;
  opacity: 0;
  transition: bottom 0.5s , opacity 0.5s;
  transition-delay: 0.1s;
}

.img-boxg4:hover{
  width: 30vw;
  cursor: pointer;
}

.img-boxg4:hover h3{
  opacity: 1;
  bottom: 25px;
  cursor: pointer;
}

.footer {
  background-color: #000;
  text-align: center;
}

.end-footer {
  font-size: 13px;
  color: rgba(255, 255, 255, .6);
  background-color: #000;
  text-align: center;
}
/* __ */